@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FunGhetto;
    font-family: ArialRounded;
    src: url(FunGhetto\ Trial.ttf);
    src: url(arlrdbd.ttf);
}

body {
    background-color: #f6f1ee;
}

nav {
    font-family: "ArialRounded";
}

.footer {
    font-family: "FunGhetto";
}
